<div class="col-md-8 col-md-offset-2">
    <br>
    <br>
    <div>
      Click the button to select the file which you have previously downloaded to your 
      computer from the EMIS portal:
      <br><br><br>
      <input type="file" (change)="changeListener($event)">
      <br><br><button (click)="onSubmit()">Display Data to console</button><br><br>
      <div *ngIf="filestring">
        <br><br><h4>Blood test details loaded:</h4>
        <div *ngFor="let bloodtest of filestring">
            <p> Created on: {{ bloodtest.Created }} <p>
        </div>
        <br><br>Full contents of chosen file (JSON format):<br><br>
        <pre> {{ filestring | json }} </pre>
      </div>
    </div>
</div>