<div class="container">
    <div class="row">
         <div class="col-md-8 col-md-offset-2">
             <app-view-head [bloodtest]="bloodtest" (editClicked)="bloodtest.created = $event"></app-view-head>
        
         </div>
        </div>
        <br>
        <div>
            <a href="#" (click)="onEdit">Edit</a>
            <a href="#" (click)="onSave">Save</a>
        </div>
    </article>
</div>




    <!--<button (click)="showMessage()">Display Data to console</button>
    <br><br>-->
    <!--<button (click)="showMessage()">Show Message</button>-->
   <!--<div class="col-sm-8 col-sm-offset-2">
       <div>{{message}}</div>
        <div *ngIf="message" class="alert alert-success">{{message.text}}</div>
        <router-outlet></router-outlet>
   </div>-->

    <!--<p>{{bloodlist.Created[0]}}</p>-->

    <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">Content</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="message?.content"
                    name="content"
                    required>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>-->
